@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-rocky-background text-rocky-text;
  margin: 0;
  font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
